<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
  </head>
  <body>
    <h2>Confirm your email address</h2>
    <p>There's one quick step you need to complete before creating your Twitter
      account. Let's make sure this is the right email address for you — please
      confirm this is the right address to use for your new account.</p>
    <p>
      Please enter this verification code to get started on Twitter Clone:</p>
    <h1>{{code}}</h1>
    <p>Thanks</p>
    <p>Twitter Clone</p>
  </body>
</html>