@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-btn {
    @apply flex items-center justify-center w-full h-9 rounded-full ring-1 ring-gray-300 space-x-2 hover:bg-gray-200 cursor-pointer transition-all duration-300;
  }
  .flex-items {
    @apply flex items-center;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .or-seperator {
    @apply w-[50%] ring-1 ring-gray-300;
  }
}
